<template>
  <section>
    <h2>MY TASK LIST</h2>
    <h2 v-if="fetchTaskFail">Getting your tasks ...</h2>
    <taskList 
      v-else
      v-bind:taskList="taskList"/>
  </section>
</template>

<script>
  import taskList from '../components/taskList.vue';

  export default {
    name: 'tasks',
    components: {
      taskList
    },
    computed: {
      fetchTaskFail() {
        return this.fetchTask;
      }
    },
    data() {
      return {
        taskList: [],
        fetchTask: true
      }
    },
    created() {
      this.$store.dispatch('tasksModule/getTasksFetch').then((response) => {
        if (!response[0].error) {
          this.taskList = response;
          this.fetchTask = false;
        } else {
          this.taskList = response[0].error;
          this.fetchTask = true;
        }
      });
    }
  }
</script>

<style lang="scss">
  @import '../styles/main.scss';
</style>
