<template>
  <div>
    <videoverlay 
      v-bind:videoUrl="showVideo"
      v-if="showVideo"/>
    <div class="tunes-page">
      <h2>MY TUNES APPS</h2>
      <section class="tunes-container">
        <tunesinput />
      </section>
      <section class="tunes-container">
        <tunescount
          v-bind:displayTunesCount="displayTunesCount"
        />
        <tunesitem 
          v-bind:displayTuneResults="displayTuneResults"
        />
      </section>
    </div>
  </div>
</template>

<script>
  import tunesinput from '../components/tunesInput.vue';
  import tunescount from '../components/tunesCount.vue';
  import tunesitem from '../components/tunesItem.vue';
  import videoverlay from '../components/tunesVideoOverlay.vue';

  export default {
    name: 'mytunes',
    components: {
      tunesinput,
      tunescount,
      tunesitem,
      videoverlay
    },
    computed: {
      showVideo() {
        return this.$store.getters['tunesModule/videoPreviewUrl'];
      },
      displayTuneResults() {
        return this.$store.getters['tunesModule/getTuneResults'];
      },
      displayTunesCount() {
        const tunesCount = this.$store.getters['tunesModule/getTunesCount'];
        return tunesCount > 0 ? tunesCount : false;
      }
    }
  }
</script>

<style>
  .overlay-back {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .8;
    z-index: 5;
  }

  .overlay-video-player {
    position: fixed;
    z-index: 10;
    top: 25%;
    left: 50%;
    margin-left: -30%;
  }

  .overlay-video-player video {
    width: 95%;
    border: 3px solid #000;
  }

  .tunes-container {
    padding: 20px;
    margin-bottom: 20px;
    background: lightgrey;
  }
</style>
