header {
  display: block;
  background: $black;
  color: $white;
  padding: 5px;
  text-align: center;
}

nav {
  ul {
    padding: 0;
  }

  li {
    display: inline-block;
    border: 2px solid $black;
    margin-left: 10px;
    background: $black;

    &:hover {
      color: $black;
      background: $white;
    }

    a {
      padding: 0 5px;
      color: $white;
      text-decoration: none;
    
      &:hover {
        color: $black;
        background: $white;
      }
    }

    .active-class {
      color: $black;
      background: $white;
    }

  }
}