@import './variables.scss';

body {
  font-family: $font-faimly;

  ul {
    list-style: none;
  }

  h2 {
    margin: 40px 0 20px 0;
  }

  h3 {
    margin: 0px 0 10px 0;
  } 

  #app {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: $text-color;
    margin-top: 60px;
  }

  button {
    font-size: 12px;
    cursor: pointer;
    padding: 5px;
    background: $button-background;
    margin-right: 10px;

    &:hover {
      background: $button-background-hover
    }
  }

}

@import './header.scss';
@import './task-list.scss';
@import './pagintation.scss';
@import './phones-shop.scss';
