.pagination {
  text-align: center;

  .pagination-list {
    padding: 0;
    margin: 0 auto 0 auto;

    li {
      display: inline-block;
    
      .pagination-link {
        display: block;
        border: 2px solid $black;
        text-decoration: none;
        padding: 2px 5px 2px 5px;
        color: $black;
        margin-right: 10px;
        cursor: pointer;

        &:hover {
          background: #000;
          color: #fff;
        }
      }
    }
  }
}