.phone-shop-content {
  position: relative;

  .phone-listing-section {
    width: 80%;
    float: left;
  }

  .phone-shopping-details {
    width: 20%;
    float: left;
  }

  .review-overlay {
    background: $black;
    opacity: .6;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 5;
  }

  .phone-review-section {
    position: fixed;
    top: 2%;
    left: 50%;
    width: 80%;
    z-index: 10;
    background: $white;
    margin-left: -40%;
  }

  // PHONE REVIEW OVERLAY
  .short-basket {
    margin-top: 100px;
    position: fixed;
    top: 100px;

    .basket-item-detail {
      font-weight: bold;
      font-size: 20px;
    }
  }
}

// PHONE REVIEW OVERLAY
.phone-review {
  border: 2px solid $black;
  padding: 20px;

  h2 {
    margin: 0px 0px 20px 0px;
  }

  label {
    display: block;
    margin: 0px 0px 10px 0px;
  }

  button, 
  textarea,
  input {
    padding: 5px;
    margin-bottom: 10px;
    width: 50%;
    font-size: 14px;
    border: 1px solid $black;
  }

  textarea {
    height: 100px;
  }
}

// PHONE LIST
ul.phone-list-items {
  text-align: center;
  margin: 0px auto 0px auto;
  padding-left: 0px;

  .phone-item {
    display: inline-block;
    text-align: left;
    padding: 20px;
    margin: 20px;
    border: 2px solid #000;
    max-width: 30%;
    background-color:$phone-item-background;

    h4 {
      border-top: 2px solid $black;
      padding-top: 20px;
      margin: 20px 0px 20px 0px;
    }

    h3 {
      height: 60px;
      font-size: 22px;
      margin-bottom: 20px;
    }

    img {
      margin: 0px 20px 20px 0px;
      width: 100%;
    }

    .title {
      font-weight: bold;
    }

    .price {
      font-size: 22px;
    }

  }

  @media screen and (max-width: 768px) {
    .phone-item {
      max-width: 100%;
    }
  }

  .phone-details {
    display: block;
    float: left;
    list-style: none;
    padding: 0px;
    margin:0px;

    li {
      padding-bottom: 20px;
    }
  }
  
  //PHONE REVIEW WITHIN PHONE ITEM
  .phone-review {
    display: none;
    padding-left: 5px;

    li {
      list-style: none;
      margin: 0;
      border-bottom: 2px solid $black;

      .title {
        font-weight: bold;
      }
    }
  }

  .phone-review.show-review {
    display: block;
  }

  .reviews-button-container {
    margin: 20px 0px 20px 0px;
  }
}

// PHONE BASKET
.close-basket {
  border: 1px solid #000;
  border-radius: 15px;
  padding: 5px 8px 5px 8px;
  position: absolute;
  top: -10px;
  right: -20px;
}

.phone-basket {
  background: $white;
  position: fixed;
  z-index: 2;
  top : 20%;
  width: 90%;
  border: 2px solid $black;
  margin: 0px auto 20px auto;
  padding: 40px 20px 20px 20px;

  ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
  }

  h3 {
    font-size: 22px;
    margin-bottom: 20px;
  }

  .remove-button {
    float: right;
  }

  .total {
    margin-top: 20px;
    border-top: 2px solid #000;
    font-size: 30px; 
  }

  .basket-content-count,
  .total-value {
    float: right;
  }
}