section {
  padding: 0 20px 0 20px;
}

.task-list-app {

  label {
    display: block;
  }

  textarea,
  input {
    display: block;
    width: 50%;
    border: 2px solid #000;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 20px;
    font-size: 16px;
  }

  textarea {
    height: 200px;
  }

  button {
    border: 2px solid #000;
    border-radius: 5px;
    margin-right: 10px;
  }
  
  ul.task-list {
    display: block;
    list-style-type: none;
    padding: 0;

    li {
      display: block;
      padding: 10px;
      margin: 0 0 10px 0;
      position: relative;
      background-color: $task-item-background;
      border: 2px solid $black;
      border-radius: 15px;
      overflow: auto;

      &.hide-pagination-default {
        display: none;
      }

      &.show-paginated.hide-pagination-default {
        display: block;
      }
    }
  }

  .buttons-holder {
    overflow: auto;
    height: 100%;
    clear: both;

    button {
      border: 2px solid $black;
      border-radius: 5px;
      margin-right: 10px;
      float: right;
    }
  }
}