$font-faimly: Hind Siliguri, Arial, Helvetica, sans-serif;

//defaults
$black: #000;
$white: #fff;
$text-color:#2c3e50;

//button styles
$button-background: #ccc;
$button-background-hover: #eee;

//task list app vars
$task-item-background: orange;

//phone app vars
$phone-item-background: cornflowerblue;