<template>
  <nav>
    <ul>
      <li>
        <router-link to="/" active-class="active-class" key="link_reg" exact>Home</router-link>
      </li>
      <li>
        <router-link to="/phoneshop" active-class="active-class" key="link_reg" exact>Mobile Phone Shop</router-link>
      </li>
      <li>
        <router-link to="/tasks" active-class="active-class" key="link_reg" exact>My Task List</router-link>
      </li>
      <li>
        <router-link to="/mytunes" active-class="active-class" key="link_reg" exact>My Tunes</router-link>
      </li>
    </ul>
  </nav>
</template>

<script>
  export default {
    name: 'navigation'
  }
</script>

<style lang="scss">
  @import '../../styles/main.scss';
</style>