<template>
  <div class="root-page">
    <h2>Welcome to my Vue apps</h2>
    <p>Please click the links above to see various examples</p>
  </div>
</template>

<script>
  export default {
    name: 'rootpage'
  }
</script>

<style>
</style>
