<template>
  <div>
    <div class="phone-review">
      <h2>Add phone Review</h2>
      <label for="reviewerName">Reviewer name</label>
      <input type="text" name="reviewerName" v-model="reviewerName" placeholder="Your name"/>

      <label for="userEmail">Reviewer Email</label>
      <input type="text" name="reviewerEmail" v-model="reviewerEmail" placeholder="Your email"/>
      <label for="reviewComment">Phone Review</label>
      <textarea id="reviewComment" v-model="reviewComment" placeholder="Add your phone review here"> 
      </textarea>
      <button v-on:click="addReview()"> > ADD YOUR REVIEW</button>
      <button v-on:click="closeReviewOverlay()">Close</button>
    </div>
  </div>
</template>

<script>
  export default {
    data () {
      return {
        reviewerName: '',
        reviewerEmail: '',
        reviewComment: '',
        reviewId: null
      }
    },
    methods: {
      addReview() {

        let reviewObj = {};
        if (this.reviewerName !=='' || this.reviewerEmail !=='' ) {

          reviewObj = {
            reviewerName: this.reviewerName,
            reviewerEmail: this.reviewerEmail,
            reviewComment: this.reviewComment
          }
          
          this.$store.dispatch('phoneListModule/addReview', reviewObj);
          this.closeReviewOverlay();
        }
      },
      closeReviewOverlay() {
        this.$store.commit('phoneListModule/openCloseOverylay');
      }
    }
  }
</script>

<style>
  
</style>