<template>
  <div class="phone-basket">
   <button class="close-basket" v-on:click="closeBasket()">X</button>
    <h3>In my basket <span class="basket-content-count">{{basketItems.length}} Item(s)</span></h3>
    <ul>
      <li class="phone-item" v-bind:key="index" v-for="(item, index) in basketItems">
        <p>
          {{item.name}}
          <button class="remove-button" v-on:click="removeBasketItem(index)"> > Remove</button>
        </p>
      </li>
      <li class="total">
        <p>Total: <span class="total-value">£{{totalCalculation}}</span></p>
      </li>
    </ul>
  </div> 
</template>

<script>
  import phoneShopMixin from '../mixins/phoneShopMixin.js';

  export default {
    name: 'phoneBasket',
    mixins: [phoneShopMixin],
    props: ['basketItems'],
    methods: {
      closeBasket() {
      this.$store.commit('phoneListModule/openCloseFullDetailBasket');
      },
      removeBasketItem(id) {
        this.$store.commit('phoneListModule/removeBasketItem', id);
      }
    }
  }
</script>

<style>

</style>
 