<template>
  <div>
    <ul 
      class="phone-review"
      v-bind:class="{'show-review': showHideReview}">
      <li 
        v-for="(review, reviewIndex) in phoneReviews"
        v-bind:key="reviewIndex">
        <p><span class="title">Reviewer Name: </span>{{review.reviewerName}}</p>
        <p><span class="title">Reviewer Email: </span>{{review.reviewerEmail}}</p>
        <p class="title">Comment:</p>
        <p>{{review.reviewComment}}</p>
      </li>
    </ul>
    <div class="reviews-button-container">
      <button v-on:click="toggleReviews">
        <span v-if="!showHideReview">Show Reviews</span>
        <span v-if="showHideReview">Hide Reviews</span>
      </button>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'phoneReviewList',
    props: ['phoneReviews'],
    data() {
      return {
        showHideReview: false
      }
    }, 
    methods: {
      toggleReviews() {
        this.showHideReview = !this.showHideReview;
      }
    }
  }
</script>

<style>

</style>
 