<template>
  <ul class="phone-list-items">
    <li class="phone-item"
      v-bind:key="index"
      v-for="(phone, index) in phoneList">
        <div class="details"> 
          <h3>{{phone.name}}</h3>
          <img src="https://via.placeholder.com/300" />
          <ul class="phone-details">
            <li>
              <p class="title">Description:</p> 
              <p>{{phone.description}}</p>
            </li>
            <li><span class="title price">Price: £{{phone.price}}</span></li>
            <li><span class="title price">In Stock: {{phone.inStock}}</span></li>
            <li>
              <button v-on:click="addToBasket(phone.id)"> > ADD TO BASKET</button>
              <button v-on:click="addReview(phone.id)"> > ADD YOUR REVIEW</button>
            </li>
            <li v-if="phone.phoneReviews.length > 0">
              <h4>Phone Reviews</h4>
              <phoneReviewList v-bind:phoneReviews="phone.phoneReviews"/>
            </li>
          </ul>
        </div>
    </li>
  </ul>
</template>

<script>
  import phoneReviewList from './phoneReviewList.vue';

  export default {
    name: 'phoneList',
    components: {
      phoneReviewList
    },
    computed: {
      phoneList() {
        return this.$store.getters['phoneListModule/phoneList'];
      }
    },
    methods: {
      addToBasket(id) {
        this.$store.commit('phoneListModule/addToBasket', id);
      },
      addReview(id) {
        this.$store.commit('phoneListModule/openCloseOverylay');
        this.$store.commit('phoneListModule/setReviewId', id);
      }
    }
  }
</script>

<style>

</style>
 