<template>
  <div class="short-basket">
    <h2>My Basket</h2>
    <p>
      Item(s) in Basket :
      <span class="basket-item-detail">{{basketItemsCount}}</span> 
    </p>
    <p>
      Total: 
      <span class="basket-item-detail">£ {{totalCalculation}}</span>
    </p>
    <p>
      <button class="remove-button" v-on:click="openFullBasket()">> See Full Basket</button>
    </p>
  </div>
</template>

<script>
  import phoneShopMixin from '../mixins/phoneShopMixin.js';

  export default {
    name: 'shortBasket',
    mixins: [phoneShopMixin],
    methods: {
      openFullBasket() {
        this.$store.commit('phoneListModule/openCloseFullDetailBasket', true);
      }
    }
  }
</script>

<style>

</style> 
