<template>
  <div class="task-list-app">
    <section>
      <taskAdd />
      <pagination
        v-on:get-pagination-range="getPaginationRange"
        v-bind:taskList="taskList"/>
    </section>
    <section>
      <ul class="task-list">
        <li 
          v-bind:key="task.id"
          v-bind:class="[{'show-paginated': displayListItem(task.id)}, 'hide-pagination-default']"
          v-for="(task, index) in taskList">
          <h3>{{`${task.id} - ${task.title}`}}</h3>
          <p>{{task.body}}</p>
          <p><button v-on:click="deleteTask(task.id)">Delete Task</button></p>
        </li>
      </ul>
    </section>
  </div>
</template>

<script>
  import taskAdd from './taskAdd.vue';
  import pagination from './pagination/pagination.vue';

  export default {
    name: 'skillList',
    props: ['taskList'],
    data() {
      return {
        paginationRange: {
          minRange: 1,
          maxRange: 10,
        }
      }
    },
    components: {
      taskAdd,
      pagination
    },
    methods: {
      getPaginationRange(paginationRange) {
        this.paginationRange.minRange = paginationRange.minRange;
        this.paginationRange.maxRange = paginationRange.maxRange;
      },
      displayListItem(listItemIndex) {
        return listItemIndex >= this.paginationRange.minRange && listItemIndex <= this.paginationRange.maxRange 
        ? true
        : false
      },
      deleteTask(id) {
        this.$store.dispatch('tasksModule/deleteTask', id);
      },
    }
  }
</script>

<style>
</style>
