<template>
  <form>
    <label for="task-title">Task Title</label>
    <input 
      type="text" 
      id="task-title"
      placeholder="Add Task title" 
      required
      v-model="task.title"/>
    <label for="task-detail">Task Title</label>
    <textarea 
      id="task-detail" 
      placeholder="Add your task detail"
      required
      v-model="task.taskDetail">
    </textarea>
    <button v-on:click="postTask">Save Task</button>
  </form>
</template>

<script>
  export default {
    name: 'taskAdd',
    data() {
      return {
        task: {
          title: '',
          taskDetail: ''
        }
      }
    },
    methods: {
      postTask(event) {
        event.preventDefault();
        const payload = this.task;
        this.$store.dispatch('tasksModule/postTask', payload);
      }
    }
  }
</script>

<style>

</style>
 