<template>
  <div>
    <div class="overlay-back"></div>
    <div class="overlay-video-player">
      <buttton v-on:click="closeOverlay" class="close-button" name="close-video">X</buttton>
      <video controls name="media" autoplay>
        <source v-bind:src="videoUrl">
      </video>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'videoverlay',
    props: ['videoUrl'],
    methods: {
      closeOverlay() {
        this.$store.commit('tunesModule/setVideoPreviewUrl', '');
      }
    }
  }
</script>

<style scoped>
  .close-button {
    border: 2px solid #000;
    background: white;
    border-radius: 17px;
    position: absolute;
    top: -15px;
    right: 5px;
    z-index: 20;
    padding: 5px 10px 5px 10px;
    cursor: pointer;
  }

  .close-button:hover {
    background: gray;
  }
</style>
