<template>
  <ul>
    <li 
      v-bind:key="index"
      v-for="(track, index) in displayTuneResults">
      <div class="image-container">
        <img v-bind:src="track.artworkUrl100"/>
      </div>
      <div class="tunes-info">
        <p class="tunes-title">{{`${track.artistName} - ${track.trackCensoredName}`}}</p>
        <p v-if="track.kind === 'music-video'">
          <button v-on:click="setPreviewUrl(track.previewUrl)">View Video</button>
        </p>
        <p v-else>
          <audio controls>
            <source v-bind:src="track.previewUrl" type="audio/mp4" />
          </audio>
        </p>
      </div>
    </li>
  </ul>
</template>

<script>
  export default {
    name: 'tunesitem',
    props: ['displayTuneResults'],
    methods: {
      setPreviewUrl(previewType) {
        this.$store.commit('tunesModule/setVideoPreviewUrl', previewType);
      }
    }
  }
</script>

<style scoped>
  .image-container,
  .tunes-info {
    float: left;
    text-align: left;
  }

  ul {
    padding: 0;
    margin: 0;
  }

  li {
    margin-bottom: 20px;
    overflow: auto;
    height: 100%;
    background: darkgray;
  }

  li:hover {
    opacity: 0.7;
  }

  .tunes-title {
    word-break: break-all;
    word-wrap: break-word;
    font-size: 18px;
  }

  img {
    margin-right: 20px;
  }
  audio {
    height: 30px;
    width: 300px;
  }  

</style>
