<template>
  <div>
    <label for="tune-search">
      Search for your Artist / Album /Track
    </label>
    <input
      type="text"
      v-model="tuneSearchVal"
      id="tune-search"
      name="tune-search"
      placeholder="Artist / Album / Track Name"
      class="text-input"
      v-on:keyup="findTuneDetail"
    />
    <label for="show-amount">
      Select Tracks to show in list
    </label>
    <select 
      name="show-amount" 
      id="show-amount" 
      class="select-type"
      v-model="selectAmount"
      v-on:change="selectDisplayAmount">
      <option value="" :selected=true>Tracks to show</option>
      <option value="10">Show 10</option>
      <option value="25">Show 25</option>
      <option value="50">Show 50</option>
      <option value="75">Show 75</option>
      <option value="100">Show 100</option>
    </select>

    <label for="preview-type">
      Select Tracks to show in list
    </label>
    <select 
      name="preview-type" 
      id="preview-type" 
      class="select-type"
      v-model="previewType"
      v-on:change="selectPreviewType">
      <option value="-1" :selected=true>Preview to show</option>
      <option value="musicTrack">Music</option>
      <option value="musicVideo">Video</option>
    </select>
  </div>
</template>

<script>
import { debug } from 'util';
  export default {
    data() {
      return {
        tuneSearchVal: '',
        selectAmount: 10,
        previewType: 'musicTrack'
      } 
    },
    methods: {
      findTuneDetail() {
        this.$data.tuneSearchVal = this.tuneSearchVal.replace('%/20', '+');
        this.$store.dispatch('tunesModule/searchTunesApi', this.$data);
      },
      selectDisplayAmount() {
        this.$store.dispatch('tunesModule/searchTunesApi', this.$data);
      },
      selectPreviewType() {
        this.$store.dispatch('tunesModule/searchTunesApi', this.$data);
      }
    }
  }
</script>

<style scoped>
  .select-type,
  .text-input {
    box-sizing: border-box;
    padding: 10px;
    margin: 5px 0px 20px 0;
    font-size: 20px;
    width: 100%;
    border-radius: 5px;
    border: none;
  }

  .select-type {
    margin-bottom: 20px;
  }

</style>
