<template>
  <h3 v-if="displayTunesCount">Artist Tracks found: {{displayTunesCount}}</h3>
  <h3 v-else>Please search for a track above</h3>
</template>

<script>
  export default {
    name: 'tunescount',
    props: ['displayTunesCount']
  }
</script>

<style>
</style>
