<template>
  <div class="pagination">
    <p>Showing <strong>{{showPerPage}}</strong> of <strong>{{taskList.length}}</strong> Tasks</p>
    <ul class="pagination-list"> 
      <li 
        v-for="(linkItem, index) in calculateDisplayRange()" 
        v-bind:key="index">
        <a 
          href="#"
          v-on:click="getPaginationRange(index)"
          class="pagination-link">
            {{linkItem}}
        </a>
      </li>
    </ul>
  </div>
</template>

<script>
  export default {
    data() {
      return {
        showPerPage: 10,
      }
    },
    name: 'pagination',
    props: ['taskList'],
    methods: {
      calculateDisplayRange() {
        return Number.isInteger(this.taskList.length/this.showPerPage) 
        ? this.taskList.length/this.showPerPage 
        : Math.ceil(this.taskList.length/this.showPerPage);
      },
      getPaginationRange(linkIndex) {
        const minRange = linkIndex * this.showPerPage;
        const maxRange = (linkIndex+1) * this.showPerPage;
        
        const paginationRangeObj = {
          minRange,
          maxRange
        };

        this.$emit('get-pagination-range', paginationRangeObj);
      }
    },
    created() {
      this.calculateDisplayRange();
    }
  }
</script>

<style>

</style>