<template>
  <div class="phone-shop-content">
    <div class="review-overlay"
    v-if="showAddReviewOverlay"
    ></div>
    <div class="phone-listing-section">
      <h2>PHONE APPS</h2>
      <section class="phone-review-section" v-if="showAddReviewOverlay">
        <addPhoneReview />
      </section>
      <section>
        <phoneBasket 
          v-if="showFullBasket"
          v-bind:basketItems="basketItems"
        />
      </section>
      <section>
        <phoneList/>
      </section>
    </div>
    <div class="phone-shopping-details" v-if="isBasketEmpty">
      <shortBasket />
    </div>
  </div>
</template>

<script>
  import phoneBasket from '../components/phoneBasket.vue';
  import phoneList from '../components/phoneList.vue';
  import addPhoneReview from '../components/addPhoneReview.vue';
  import shortBasket  from '../components/shortBasket.vue';

  export default {
    name: 'phoneshop',
    components: {
      phoneBasket,
      phoneList,
      addPhoneReview,
      shortBasket
    },
    computed: {
      basketItems() {
        return this.$store.getters['phoneListModule/basketItems'];
      },
      isBasketEmpty() {
        return this.$store.getters['phoneListModule/isBasketEmpty'];
      },
      showAddReviewOverlay() {
        return this.$store.getters['phoneListModule/showHiAddReviewOverlay'];
      },
      showFullBasket() {
        return this.$store.getters['phoneListModule/toggleFullDetailBasket'];
      }
    },
    created() {
      this.$store.dispatch('phoneListModule/getData');
    }
  }
</script>

<style lang="scss">
  @import '../styles/main.scss';
</style>
