<template>
  <div>
    <header>
      <h1>VUE MINI TEST APPS</h1>
    </header>
    <navigation />
    <main>
      <router-view></router-view>
    </main>
  </div>
</template>

<script>
  import navigation from './components/navigation/navigation.vue';

  export default {
    name: 'app',
    components: {
      navigation
    }
  }
</script>

<style>

</style>
